body {
    font-family: Arial, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-box {
    width: 340px;
    padding: 28px;
    background: #9b9b9b;
    border-radius: 12px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}

.role {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 6px;
    font-size: 14px;
}

.form-box p {
    font-size: 14px;
    margin: 10px 0;
}

.form-box a {
    color: #00008b;
    font-weight: bold;
    text-decoration: none;
}

button {
    float: right;
    padding: 8px 15px;
    background: #fff;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: black;
    color: #fff;
}
